@model LoginModel

@{
    ViewBag.Title = "Fill out the form below to sign up.";
}

<section id="loginForm">
    @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)        
    
        <!--=== Content Part ===-->
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
                    <div class="reg-page">
                        <div class="reg-header">
                            <h2>Login to your account</h2>
                        </div>

                        <div class="input-group margin-bottom-20">
                            <span class="input-group-addon"><i class="icon-user"></i></span>
                            @Html.TextBoxFor(m => m.UserName, new { @placeholder = "Username", @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.UserName)
                        </div>

                        <div class="input-group margin-bottom-20">
                            <span class="input-group-addon"><i class="icon-lock"></i></span>
                            @Html.PasswordFor(m => m.Password, new { @placeholder = "Username", @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Password)
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                @Html.CheckBoxFor(m => m.RememberMe)&nbsp;@Html.LabelFor(m => m.RememberMe)
                            </div>
                            <div class="col-md-6">
                                <button class="btn-u pull-right" type="submit">Login</button>
                            </div>
                        </div>

                        <hr>

                        <h5>Forget your Password ? @Html.ActionLink("Click Here", "Manage", null, new { @class = "color-green" })</h5>

                        <h5>You don't have an account ?  @Html.ActionLink("Click Here", "Register", null, new { @class = "color-green" })</h5>
                    </div>
                </div>
            </div>
            <!--/row-->
        </div>
        <!--/container-->		
        <!--=== End Content Part ===-->
    }
</section>

<section class="social" id="socialLoginForm">
    <div class="container">
        <h2>Use another service to log in.</h2>
        @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
