<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    @using MvcBreadCrumbs;
    <!-- Title -->
    <title>TSoft Solution - Provider Customer Focused Solution</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="TSoft Solution - Provider Customer Focused Solution">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:description" content="TSoft Solution - Provider Customer Focused Solution">
    <meta name="twitter:title" content="TSoft Solution - Provider Customer Focused Solution">
    <meta name="keywords" content="Software Development, Application Development, Developer">
    <meta name="author" content="Theodros Tewolde">

    <!-- Favicon -->
    <link rel="shortcut icon" href="../../favicon.ico">
    <!-- Google Fonts -->
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans%3A300%2C400%2C500%2C600%2C700%2C800%7CRaleway%3A300%2C400%2C500%2C600%2C700%2C800%2C900%7CPlayfair+Display%7CRoboto%7CSpectral%7CRubik">
    <!-- Favicon -->
    <link rel="shortcut icon" href="images/favicon/favicon.png">

    @Styles.Render("~/Content/css")
</head>

<body>
    <!-- Header v1 -->
    <header id="js-header" class="u-header u-header--static u-header--show-hide u-header--change-appearance"
            data-header-fix-moment="100"
            data-header-fix-effect="slide">
        <div class="u-header__section g-bg-white g-transition-0_3 g-py-16 g-py-10--md"
             data-header-fix-moment-exclude="g-bg-white"
             data-header-fix-moment-classes="u-shadow-v27 g-bg-white-opacity-0_9">
            <nav class="navbar navbar-expand-lg p-0 g-px-15">
                <div class="container g-pos-rel">
                    <!-- Logo -->
                    <a href="#!" class="js-go-to navbar-brand u-header__logo"
                       data-type="static">
                        <img class="u-header__logo-img u-header__logo-img--main g-width-130" src="assets/img/logo-dark.png" alt="Image Description">
                    </a>
                    <!-- End Logo -->
                    <!-- Navigation -->
                    <div id="navBar" class="collapse navbar-collapse w-100 align-items-center flex-sm-row" data-mobile-scroll-hide="true">
                        <div class="navbar-collapse">
                            <ul id="js-scroll-nav" class="navbar-nav text-uppercase g-font-weight-700 g-font-size-11 ml-auto g-pt-20 g-pt-3--lg">
                                <li class="nav-item g-mr-15--lg g-mb-7 g-mb-0--lg active">
                                    <a href="#about" class="nav-link p-0">About <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item g-mx-15--lg g-mb-7 g-mb-0--lg">
                                    <a href="#whyWe" class="nav-link p-0">Why we</a>
                                </li>
                                <li class="nav-item g-mx-15--lg g-mb-7 g-mb-0--lg">
                                    <a href="#services" class="nav-link p-0">Services</a>
                                </li>
                                <li class="nav-item g-mx-15--lg g-mb-7 g-mb-0--lg">
                                    <a href="#workProcess" class="nav-link p-0">Work process</a>
                                </li>
                                <li class="nav-item g-mx-15--lg g-mb-7 g-mb-0--lg">
                                    <a href="#skills" class="nav-link p-0">Skills</a>
                                </li>
                                <li class="nav-item g-mx-15--lg g-mb-7 g-mb-0--lg">
                                    <a href="#team" class="nav-link p-0">Team</a>
                                </li>
                                <li class="nav-item g-mx-15--lg g-mb-7 g-mb-0--lg">
                                    <a href="#testimonials" class="nav-link p-0">Testimonials</a>
                                </li>
                                <li class="nav-item g-ml-15--lg">
                                    <a href="#contact" class="nav-link p-0">Contact</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- End Navigation -->
                    <!-- Responsive Toggle Button -->
                    <button class="navbar-toggler btn g-line-height-1 g-brd-none g-pa-0 g-pos-abs g-top-20 g-right-0" type="button"
                            aria-label="Toggle navigation"
                            aria-expanded="false"
                            aria-controls="navBar"
                            data-toggle="collapse"
                            data-target="#navBar">
                        <span class="hamburger hamburger--slider">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </span>
                    </button>
                    <!-- End Responsive Toggle Button -->
                </div>
            </nav>
        </div>
    </header>
    <!-- End Header v1 -->
    <!-- Content Part -->
    @RenderBody()
    <!-- End Content Part -->
    <!-- Footer -->
    <footer class="text-center">
        <div class="g-py-30 g-py-80--md">
            <div class="container">
                <div class="text-uppercase u-heading-v2-4--bottom g-brd-primary">
                    <h4 class="g-line-height-1 g-font-weight-700 g-font-size-12 g-color-primary g-mb-20">Contact us</h4>
                    <h2 class="u-heading-v2__title g-font-weight-700 g-font-size-30 g-font-size-40--md g-theme-color-gray-dark-v1">Get in touch</h2>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <address class="row g-color-gray-dark-v4 mb-0">
                <div class="col-sm-6 col-md-3 g-theme-bg-gray-dark-v1 px-0 g-py-60">
                    <i class="icon-line icon-map d-inline-block g-font-size-30 g-font-size-40--md g-color-primary g-mb-30"></i>
                    <h3 class="text-uppercase g-font-size-11 g-theme-color-gray-light-v3 g-mb-5">Address</h3>
                    <strong class="g-font-size-16 g-color-white">In sed lectus tincidunt</strong>
                </div>
                <div class="col-sm-6 col-md-3 g-theme-bg-gray-dark-v2 px-0 g-py-60">
                    <i class="icon-line icon-screen-smartphone d-inline-block g-font-size-30 g-font-size-40--md g-color-primary g-mb-30"></i>
                    <h3 class="text-uppercase g-font-size-11 g-theme-color-gray-light-v3 g-mb-5">Phone number</h3>
                    <strong class="g-font-size-16 g-color-white">+48 555 2566 112</strong>
                </div>
                <div class="col-sm-6 col-md-3 g-theme-bg-gray-dark-v1 px-0 g-py-60">
                    <i class="icon-line icon-envelope-letter d-inline-block g-font-size-30 g-font-size-40--md g-color-primary g-mb-30"></i>
                    <h3 class="text-uppercase g-font-size-11 g-theme-color-gray-light-v3 g-mb-5">Email</h3>
                    <a class="g-font-size-16 g-color-white" href="mailto:info@htmlstream.com"><strong>info@htmlstream.com</strong></a>
                </div>
                <div class="col-sm-6 col-md-3 g-theme-bg-gray-dark-v2 px-0 g-py-60">
                    <i class="icon-line icon-call-in d-inline-block g-font-size-30 g-font-size-40--md g-color-primary g-mb-30"></i>
                    <h3 class="text-uppercase g-font-size-11 g-theme-color-gray-light-v3 g-mb-5">Call free</h3>
                    <strong class="g-font-size-16 g-color-white">+48 555 1258 987</strong>
                </div>
            </address>
        </div>
        <div id="contact" class="g-color-gray-dark-v5 g-bg-gray-light-v5 g-py-30 g-py-70--md">
            <div class="container">
                <div class="u-heading-v8-2 g-mb-60">
                    <h2 class="h1 text-uppercase u-heading-v8__title g-font-weight-700 g-font-size-26 g-font-secondary g-color-gray-dark-v2 g-mb-25">Have a questions?</h2>
                    <p class="mb-0">Sed eget aliquet nisl. Proin laoreet accumsan nisl non vestibulum.</p>
                </div>
                <form>
                    <div class="row">
                        <div class="col-md-6 form-group g-mb-30">
                            <input id="inputGroup1_1" class="form-control g-font-size-default g-theme-color-gray-dark-v2 g-placeholder-inherit g-bg-white g-bg-white--focus g-brd-white g-brd-gray-light-v3--hover g-brd-gray-light-v3--focus g-rounded-1 g-py-13 g-px-12 g-transition-0_2 g-transition--ease-in" type="text" placeholder="Your name">
                        </div>
                        <div class="col-md-6 form-group g-mb-30">
                            <input id="inputGroup1_2" class="form-control g-font-size-default g-theme-color-gray-dark-v2 g-placeholder-inherit g-bg-white g-bg-white--focus g-brd-white g-brd-gray-light-v3--hover g-brd-gray-light-v3--focus g-rounded-1 g-py-13 g-px-12 g-transition-0_2 g-transition--ease-in" type="tel" placeholder="Your phone">
                        </div>
                        <div class="col-md-6 form-group g-mb-30">
                            <select id="inputGroup1_3" class="js-custom-select form-control text-left u-form-control u-select-v1 g-font-size-default g-theme-color-gray-dark-v2 g-bg-white g-brd-white g-brd-gray-light-v3--hover g-rounded-1 g-py-13 g-px-12 g-transition-0_2 g-transition--ease-in" style="width: 100%;"
                                    data-placeholder="Department"
                                    data-open-icon="fa fa-caret-down"
                                    data-close-icon="fa fa-caret-up">
                                <option></option>
                                <option value="Department1">Department1</option>
                                <option value="Department2">Department2</option>
                                <option value="Department3">Department3</option>
                                <option value="Department4">Department4</option>
                            </select>
                        </div>
                        <div class="col-md-6 form-group g-mb-30">
                            <input id="inputGroup1_4" class="form-control g-font-size-default g-theme-color-gray-dark-v2 g-placeholder-inherit g-bg-white g-bg-white--focus g-brd-white g-brd-gray-light-v3--hover g-brd-gray-light-v3--focus g-rounded-1 g-py-13 g-px-12 g-transition-0_2 g-transition--ease-in" type="text" placeholder="Subject">
                        </div>
                        <div class="col-md-12 form-group g-mb-30">
                            <textarea id="inputGroup1_5" class="form-control g-resize-none g-font-size-default g-theme-color-gray-dark-v2 g-placeholder-inherit g-bg-white g-bg-white--focus g-brd-white g-brd-gray-light-v3--hover g-brd-gray-light-v3--focus g-rounded-1 g-py-13 g-px-12 g-transition-0_2 g-transition--ease-in" rows="6" placeholder="Message"></textarea>
                        </div>
                    </div>
                    <div class="text-center">
                        <button class="btn u-btn-primary btn-md text-uppercase g-font-weight-700 g-font-size-12 rounded-0 g-px-25 g-py-10 mb-0" type="submit" role="button">Send message</button>
                    </div>
                </form>
            </div>
        </div>
        <!-- Google (Map) [custom] -->
        <div class="g-pos-rel g-height-500">
            <div id="gMap" class="js-g-map g-pos-abs w-100 h-100"
                 data-type="custom"
                 data-lat="40.674"
                 data-lng="-73.946"
                 data-zoom="12"
                 data-title="Agency"
                 data-styles='[
                 ["", "", [{"saturation":-100},{"lightness":51},{"visibility":"simplified"}]],
                 ["", "labels", [{"visibility":"on"}]],
                 ["water", "", [{"color":"#bac6cb"}]]
               ]'
                 data-pin="true"
                 data-pin-icon="assets/img/pin.png"></div>
        </div>
        <!-- End Google (Map) [custom] -->
        <div class="g-color-white g-bg-primary-dark-v1 g-py-40 g-px-15">
            <a class="d-inline-block g-mb-30" href="/">
                <img class="img-fluid g-width-130" src="assets/img/logo-light.png" alt="Image description">
            </a>
            <p class="g-color-white-opacity-0_7 g-mb-30">Integer accumsan maximus leo, et consectetur metus vestibulum in. Vestibulum viverra justo odio maximus efficitur</p>
            <ul class="list-inline d-inline-block g-mb-30">
                <li class="list-inline-item g-mr-10">
                    <a class="u-icon-v3 g-width-35 g-height-35 g-font-size-16 g-color-primary g-color-white--hover g-bg-white g-bg-gray-dark-v2--hover g-transition-0_2 g-transition--ease-in" href="#!"><i class="fa fa-twitter"></i></a>
                </li>
                <li class="list-inline-item g-mr-10">
                    <a class="u-icon-v3 g-width-35 g-height-35 g-font-size-16 g-color-primary g-color-white--hover g-bg-white g-bg-gray-dark-v2--hover g-transition-0_2 g-transition--ease-in" href="#!"><i class="fa fa-pinterest"></i></a>
                </li>
                <li class="list-inline-item g-mr-10">
                    <a class="u-icon-v3 g-width-35 g-height-35 g-font-size-16 g-color-primary g-color-white--hover g-bg-white g-bg-gray-dark-v2--hover g-transition-0_2 g-transition--ease-in" href="#!"><i class="fa fa-facebook"></i></a>
                </li>
                <li class="list-inline-item">
                    <a class="u-icon-v3 g-width-35 g-height-35 g-font-size-16 g-color-primary g-color-white--hover g-bg-white g-bg-gray-dark-v2--hover g-transition-0_2 g-transition--ease-in" href="#!"><i class="fa fa-linkedin"></i></a>
                </li>
            </ul>
            <ul class="list-inline text-uppercase g-font-weight-700 g-font-size-11 mb-0">
                <li class="list-inline-item g-px-12--md">
                    <a class="g-color-white-opacity-0_7 g-color-white--hover g-text-underline--none--hover" href="#!">About</a>
                </li>
                <li class="list-inline-item g-px-12--md">
                    <a class="g-color-white-opacity-0_7 g-color-white--hover g-text-underline--none--hover" href="#!">Why we</a>
                </li>
                <li class="list-inline-item g-px-12--md">
                    <a class="g-color-white-opacity-0_7 g-color-white--hover g-text-underline--none--hover" href="#!">Services</a>
                </li>
                <li class="list-inline-item g-px-12--md">
                    <a class="g-color-white-opacity-0_7 g-color-white--hover g-text-underline--none--hover" href="#!">Work process</a>
                </li>
                <li class="list-inline-item g-px-12--md">
                    <a class="g-color-white-opacity-0_7 g-color-white--hover g-text-underline--none--hover" href="#!">Skills</a>
                </li>
                <li class="list-inline-item g-px-12--md">
                    <a class="g-color-white-opacity-0_7 g-color-white--hover g-text-underline--none--hover" href="#!">Team</a>
                </li>
                <li class="list-inline-item g-px-12--md">
                    <a class="g-color-white-opacity-0_7 g-color-white--hover g-text-underline--none--hover" href="#!">Testimonials</a>
                </li>
                <li class="list-inline-item g-px-12--md">
                    <a class="g-color-white-opacity-0_7 g-color-white--hover g-text-underline--none--hover" href="#!">Contact</a>
                </li>
            </ul>
        </div>
    </footer>
    <!-- End Footer -->
    <a class="js-go-to u-go-to-v1" href="#!"
       data-type="fixed"
       data-position='{
           "bottom": 15,
           "right": 15
         }'
       data-offset-top="400"
       data-compensation="#js-header"
       data-show-effect="zoomIn">
        <i class="hs-icon hs-icon-arrow-top"></i>
    </a>
    @Scripts.Render("~/bundles/globalcompulsory")
    @Scripts.Render("~/bundles/plugins")
    @Scripts.Render("~/bundles/revolutionslider")
    @Scripts.Render("~/bundles/unity")
    @Scripts.Render("~/bundles/custom")
    @RenderSection("scripts", required: false)
    @*<script src="~/Plugins/js/bootbox/bootbox.js"></script>*@

    <!-- JS Plugins Init. -->
    <script>
      // initialization of google map
      function initMap() {
        $.HSCore.components.HSGMap.init('.js-g-map');
      }

      // initialization of revolution slider
      var tpj = jQuery,
        promoSlider;

      tpj(document).on('ready', function () {
        if (tpj('#promoSlider').revolution == undefined) {
          revslider_showDoubleJqueryError('#promoSlider');
        } else {
          promoSlider = tpj('#promoSlider').show().revolution({
            sliderType: 'standard',
            jsFileLocation: '../../revolution/js/',
            sliderLayout: 'fullscreen',
            dottedOverlay: 'none',
            delay: 9000,
            navigation: {
              keyboardNavigation: 'off',
              keyboard_direction: 'horizontal',
              mouseScrollNavigation: 'off',
              onHoverStop: 'off',
              touch: {
                touchenabled: 'on',
                swipe_threshold: 75,
                swipe_min_touches: 1,
                swipe_direction: 'horizontal',
                drag_block_vertical: false
              },
              bullets: {
                enable: true,
                hide_onmobile: true,
                hide_under: 960,
                style: 'zeus',
                hide_onleave: false,
                direction: 'horizontal',
                h_align: 'right',
                v_align: 'bottom',
                h_offset: 80,
                v_offset: 50,
                space: 5,
                tmp: '<span class="tp-bullet-image"></span>' +
                '<span class="tp-bullet-imageoverlay"></span>' +
                '<span class="tp-bullet-title">{{title}}</span>'
              }
            },
            responsiveLevels: [1240, 1024, 778, 480],
            gridwidth: [1240, 1024, 778, 480],
            gridheight: [868, 768, 960, 720],
            lazyType: 'none',
            parallax: {
              type: 'mouse',
              origo: 'slidercenter',
              speed: 2000,
              levels: [2, 3, 4, 5, 6, 7, 12, 16, 10, 50],
              disable_onmobile: 'on'
            },
            shadow: 0,
            spinner: 'off',
            stopLoop: 'on',
            stopAfterLoops: 0,
            stopAtSlide: 1,
            shuffle: 'off',
            autoHeight: 'off',
            fullScreenAlignForce: 'off',
            fullScreenOffset: '60px',
            disableProgressBar: 'on',
            hideThumbsOnMobile: 'off',
            hideSliderAtLimit: 0,
            hideCaptionAtLimit: 0,
            hideAllCaptionAtLilmit: 0,
            debugMode: false,
            fallbacks: {
              simplifyAll: 'off',
              nextSlideOnWindowFocus: 'off',
              disableFocusListener: false
            }
          });

          var newCall = new Object(),
            cslide;

          newCall.callback = function () {
            var proc = promoSlider.revgetparallaxproc(),
              fade = 1 + proc,
              scale = 1 + (Math.abs(proc) / 10);

            punchgs.TweenLite.set(promoSlider.find('.slotholder, .rs-background-video-layer'), {
              opacity: fade,
              scale: scale
            });
          };

          newCall.inmodule = 'parallax';
          newCall.atposition = 'start';

          promoSlider.bind('revolution.slide.onloaded', function (e) {
            promoSlider.revaddcallback(newCall);
          });
        }
      });

      $(document).on('ready', function () {
        // initialization of carousel
        $.HSCore.components.HSCarousel.init('.js-carousel');

        // initialization of header
        $.HSCore.components.HSHeader.init($('#js-header'));
        $.HSCore.helpers.HSHamburgers.init('.hamburger');

        // initialization of scroll animation
        $.HSCore.components.HSOnScrollAnimation.init('[data-animation]');

        // initialization of tabs
        $.HSCore.components.HSTabs.init('[role="tablist"]');

        // initialization of progressbar
        var horizontalProgressBars = $.HSCore.components.HSProgressBar.init('.js-hr-progress-bar', {
          direction: 'horizontal',
          indicatorSelector: '.js-hr-progress-bar-indicator'
        });

        // initialization of chart pies
        var items = $.HSCore.components.HSChartPie.init('.js-pie');

        // initialization of go to section
        $.HSCore.components.HSGoTo.init('.js-go-to');
      });

      $(window).on('load', function() {
        // initialization of HSScrollNav
        $.HSCore.components.HSScrollNav.init($('#js-scroll-nav'), {
          duration: 700
        });

        setTimeout(function() {
          // initialization of select
          $.HSCore.components.HSSelect.init('.js-custom-select');
        }, 1);
      });

      $(window).on('resize', function () {
        setTimeout(function () {
          $.HSCore.components.HSTabs.init('[role="tablist"]');
        }, 200);
      });
    </script>
    <script src="//maps.googleapis.com/maps/api/js?key=AIzaSyAtt1z99GtrHZt_IcnK-wryNsQ30A112J0&callback=initMap" async></script>
    <!--[if lt IE 9]>
        <script src="plugins/respond.js"></script>
    <![endif]-->
</body>
</html>
